
p{
  color: dimgray;
}

span{
  color: slategray;
}

#price {
  color: red;
  font-size: x-large;
}

.modal{
  height: 70%;
  width: 70%;
}

/* colour buttons */
/* makes btns circular */
.colour-btn{
  width: 30px; 
  height: 30px; 
  padding: 6px 0px; 
  border-radius: 15px; 
  border-color:white;
  border-width: 2px;
  margin-top: 10px;          
}

.inc-btns{
  width: 50px; 
  height: 50px; 
  /* padding: -12px 5px;  */
  border-radius: 50px;
  background: black ; 
  border-color:white;
  border-width: 2px;
  font-size: 25px; 
}

/* add button */
.btn-long{
  width: 300px;
  height: 50px;
  margin-left: auto;
  line-height: 15px;
  border: 0px;
  border-radius: 40px;
  background-color: black;
}

#checkout {
  display: none;
}

#amount{
  width: 60px;
  margin-left: auto;
  line-height: 15px;
  border: 2px solid rgba(0, 0, 0, 0.75);
  border-radius: 30px;
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: large;
}

#Output4{
  width: 60px;
  margin-left: auto;
  line-height: 15px;
  border: 2px solid rgba(0, 0, 0, 0.75);
  border-radius: 30px;
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: large;
}

#cancel{
  background: tomato;
  border-radius: 5px;
  border: 3px solid darkred;
}
  
#agree{
  background: springgreen;
  border-radius: 5px;
  border: 3px solid  darkolivegreen;
}


.circle {
  width: 30px; 
  height: 30px; 
  padding: 6px 0px; 
  border-radius: 15px; 
  border-color:white;
  border-width: 2px;
  background-color: black;
  margin: 10px;
}